:root {
  --headerHeight: 64px;
  --gutter: 24px;
  --primary: steelblue;
  --neutralText: #444;
  --neutralLight: #ccc;
}
body {
  color: var(--neutralText);
}
html * {
  box-sizing: border-box;
}
header {
  position: fixed;
  width: 100%;
  padding: 0 var(--gutter);
  height: var(--headerHeight);
  border-bottom: 1px solid var(--neutralLight);
  display: flex;
  align-items: center;
  gap: calc(var(--gutter) * 1.7);
}
header a {
  color: var(--neutralText);
}

header a:first-child {
  font-size: 1.4rem;
  color: var(--primary);
}
header + * {
  padding: var(--headerHeight) var(--gutter) 0;
}
li.active {
  font-weight: bolder;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
form input,
form textarea {
  margin-bottom: var(--gutter);
}

html pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: var(--gutter);
}

.left-pane-layout {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 100%;
  gap: var(--gutter);
}
.left-pane-layout > div:first-child {
  /* background: red; */
  border-right: 1px solid var(--neutralLight);
  padding-right: var(--gutter);
}
.left-pane-layout > *:nth-child(2) {
  max-width: 700px;
}
