:root {
  --headerHeight: 64px;
  --gutter: 24px;
  --primary: steelblue;
  --neutralText: #444;
  --neutralLight: #eee;
}
body {
  color: var(--neutralText);
}
html * {
  box-sizing: border-box;
}
.app-header {
  position: fixed;
  width: 100%;
  padding: 0 var(--gutter);
  height: var(--headerHeight);
  border-bottom: 1px solid var(--neutralLight);
  display: flex;
  align-items: center;
  gap: calc(var(--gutter) * 1.7);
}
.app-header a {
  color: var(--neutralText);
}
.app-header .app-logo {
  font-size: 1.4rem;
  color: var(--primary);
}
.app-header + main {
  padding: var(--headerHeight) var(--gutter) 0;
  max-width: 1200px;
}

.diary-layout {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 100%;
  gap: var(--gutter);
}
.diary-layout .left-panel {
  /* background: red; */
  border-right: 1px solid var(--neutralLight);
  padding-right: var(--gutter);
}
.diaries-list .active {
  font-weight: bolder;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-bottom: 1px solid var(--neutralLight); */
}

input,
textarea {
  margin-bottom: var(--gutter);
}
